@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*GENERALE*/

:root{
    --color-primary:#1b1b32;
    --color-secondary:rgba(27, 27, 50, 0.8);
    --color-text:white;
    --color-btn:green;

    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em 0 10em 0;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(survey-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-text);
    font-family: 'Lato', sans-serif;
}

/*PRINCIPALE*/

.main{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    background-color: var(--color-secondary);
    border-radius:0.5%;

}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding:0 6em 0 6em;
}

.form-group, p, h1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
    

}

.form-group{
    margin: 5vh;
    
}

.label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    margin: 2vh 0 2vh 0;
    
        
}

#name, #email, #number, #dropdown, #dropdown2 {
    height: 2.5em;
    border-radius:0.3em;
    border: 1px solid grey;
    padding-left: 1em;
    
}

#name:focus, #email:focus, #number:focus, #dropdown:focus, #dropdown2:focus{
    outline: none;
    
    }

#dropdown:active{
    transition: all 1s ease;
    
}

select{
    width: 100%;
}





.text{
    width: 100%;
    min-height: 160px;
    border-radius:0.5em;
    color: black;
    
}
.text::placeholder{
    padding: 1.7em 0 0 1em;
}




.title-text {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 700;
}

.check, .radio{
    margin-right: 1em;

}

label{
    font-size:20px;
    font-weight: 400;
}

#submit{
    width: 100%;
    height: 8vh;
    background-color: var(--color-btn);
    border: none;
    border-radius:0.3em;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text);
    transition: 0.5s ease-out;
}

#submit:hover{
    background-color: rgb(62, 160, 62);
    transition: 0.5s ease-in;
}

